# Secrets
.env
google_credentials.json

# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

data/filtered_jobs.json
data/scored:jobs.json
output/latest_jobs_output.json